@font-face {
    font-family: 'Japan font';
    src: url('/midia/Fonts/Japan\ wave.ttf') format('truetype');
    /* add other variations if needed */
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0;
  box-sizing: border-box;
}
:root{
    --black: #404040;
    --white: #F2F2F2;
    --redDark: #8C0303;
    --red: #BF1304;
    --redLight: #D96F66;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  align-items: center;
  margin-top: 3%;
  
}
header h1{
  font-family: 'Japan font';
  margin-left: 10%;
  cursor: default;
}
header nav{
  margin-right: 10%;
}
header li{
  background-color: var(--red);
  color: var(--white);
  padding: 10px;
  border-radius: 20px;
  display: inline;
  font-weight: bold;
  width: 100%;
  max-width: 150px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
header li:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
header ul{
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
main{
  /* background-color: blue; */
  margin-top: 10vh;
  display: grid;
  grid-template-areas: 
  "card exam"
  "card exam"
  "card buttons";
}

.cardPlace{
  grid-area: card;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.examplesPlace{
  grid-area: exam;
}
.examplesPlace h2{
  margin-bottom: 1%;
}
.example{
  margin: 2px 0px;
}
.example p{
  display: inline;
}
.buttonsPlace{
  grid-area: buttons;
}

.card {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    perspective: 1000px;
}
  
.card-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    border-radius: 10px;
}
.kanji{
  width: 80%;
  height: 80%;
}
.kanji.back{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.backinfo{
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
#meaningPlace{
  height: 40%;
  width: 100%;
  font: bold 5vh 'montserrat', sans-serif;
}

#kanjiImage{
  width: 100%;
  height: 100%;
  border: none;
}
.button{
  display: inline-block;
  border-radius: 20px;
  font-weight: bolder;
  color: var(--white);
  padding: 5%;
  background-color: #8C0303;
  cursor: pointer;
  transition: 0.3s;
}
.button.next{
  background-color: var(--red);
}
.button:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.btn{
  display: inline-block;
  background-color: var(--redLight);
  border: none;
  padding: 5px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s;
}
.meanEle{
  font-weight: 500;
  font-style: italic;
}
.card-front {
    background-color: #eaeaea;
}
  
.card-back {
    transform: rotateY(180deg);
    background-color: #ccc;
    align-items: center;
    justify-content: center;
}
  
.card.flipped .card-front {
    transform: rotateY(180deg);
}
  
.card.flipped .card-back {
    transform: rotateY(0deg);
}
  
button#flip-card {
  margin-top: 20px;
}

  @media screen and (max-width: 767px) {
    .main-content {
      max-width: 100%;
      padding: 20px;
    }
    
    h1 {
      font-size: 48px;
    }
    
    p {
      font-size: 16px;
    }
    .card{
      width: 70vh;
      height: 80vh;
    }
    .cardPlace{
      margin-bottom: 4vh;

    }
    .examplesPlace{
      padding-left: 5%;
    }
    .buttonsPlace{
      margin: 5% 0px;
      padding-left: 5%;
    }
    main{
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 48px;
    }
    
    p {
      font-size: 18px;
    }
    .card{
      width: 70vh;
      height: 80vh;
    }
    
  }
  
@media screen and (min-width: 992px) {
    h1 {
      font-size: 64px;
    }
    
    p {
      font-size: 20px;
    }

    .card{
      width: 80vh;
      height: 90vh;
    }
    
}
